<div class="col-md-2 bg-dark text-white min-vh-100">

    <div class="p-3">

        <h5 class="mb-4">
            Menu
        </h5>

        <ul class="nav flex-column">

            <li class="nav-item mb-2">
                <a href="/" class="nav-link text-white">
                    Dashboard
                </a>
            </li>

            <li class="nav-item mb-2">
                <a href="#" class="nav-link text-white">
                    Faculty Management
                </a>
            </li>

            <li class="nav-item mb-2">
                <a href="#" class="nav-link text-white">
                    Notice Sources
                </a>
            </li>

            <li class="nav-item mb-2">
                <a href="#" class="nav-link text-white">
                    Notice History
                </a>
            </li>

            <li class="nav-item mb-2">
                <a href="#" class="nav-link text-white">
                    Email Logs
                </a>
            </li>

            <li class="nav-item mb-2">
                <a href="#" class="nav-link text-white">
                    Settings
                </a>
            </li>

        </ul>

    </div>

</div>